.assignment-main{
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
}

.assignment-main-box{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    background-color: #fff;
    border-radius: 10px;
    padding: 10px;
    align-items: center;
}
.assignment-main-box-img{
    height: 50px;
    width: 50px;
    border-radius: 10px;
    background-color: red;
}
.assignment-main-box-content{
    margin-left: -80px;
}